a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
 
}
 
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: tomato;
    padding: 10px
}
 
.header nav ul {
    display: flex;

    
   
 
    
}
 
.header nav ul li{
    padding-left: 10px;
    border: 1px solid;
    margin: 10px;
}
 
.section1{
    display:flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
 
}
 
.section1 p{
    text-align: center;
 
}

.img{
height: 300px;
width: 20px;

}
